# Casper Network
CASPER_NODE_URL=https://node.integration.cspr.cloud/
CASPER_CHAIN_NAME=casper-test
CASPER_PRIVATE_KEY_PATH=./keys/secret_key.pem

# Server
HOST=0.0.0.0
PORT=8000
SANDBOX=true

# Escrow
DEFAULT_TTL=300
INSURANCE_FEE_BPS=200
